@import "../../../theme/globalStyle.scss";

.myEventsModalWrapper {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  .row {
    display: flex;
    flex-direction: row;
  }
  &__buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__button {
    width: 200px;
    margin-top: 20px;
    height: 54px;
    background-color: $base-color;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
  }
  &__button:hover {
    background-color: $base-color-hover;
  }
  .delete {
    background-color: #e4283f;
    &:hover {
      background-color: #ac1f30;
    }
  }
  &__input {
    border: 0;
    outline: 0;
    transition: border-color 0.2s;
    font-size: 18px;
    background: transparent;
  }
  .number {
    width: 80px;
    font-size: 20px;
    margin: 10px;
    border-bottom: 2px solid #9b9b9b;
    &:focus {
      border-bottom: 3px solid $base-color;
    }
  }
}

.spaceRight {
  margin-right: 10px;
}
