@import "../../theme/globalStyle.scss";

.layoutWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__titleContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    &__buttonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      &__button {
        min-width: 200px;
        padding: 10px;
        font-size: 20px;
        border: 1px solid;
        border-radius: 4px;
        height: 54px;
        background-color: $base-color;
        border: none;
        color: #ffffff;
        cursor: pointer;
      }
      &__button:hover {
        background-color: $base-color-hover;
      }
    }
  }
  &__content {
    margin: 0 5% 100px 5%;
  }
}
