@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import "./theme/globalStyle.scss";

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: $base-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $base-color-hover;
}
